source /Users/yuxliu01/.direnvrc
use flake
eval $(opam env)
export_alias ls 'ls --color=auto $@'
export MACOSX_DEPLOYMENT_TARGET=14.0
export herdroot='/Users/yuxliu01/dev/herdtools7'
export PATH="/Users/yuxliu01/.local/bin:$PATH"

